body {
  font-family: helvetica, sans-serif;
}
.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer {
  border: 1px solid red;
  text-align: center;
  font-size: 72px;
  width: 200px;
  padding: 150px;
  color: #f3f3f3;
  background-color: #171717;
  border-radius: 8px 8px 0px 0px;
}

.buttons {
  text-align: center;
  width: 200px;
  padding: 15px;
  background-color: rgb(148, 143, 143);
  border-radius: 0px 0px 8px 8px;
}

button {
  color: #171717;
  background-color: #171717;
  color: white;
  padding: 5px 5px;
  margin: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.reset:enabled {
  color: red;
}
.pause:enabled {
  color: yellow;
}
.start:enabled {
  color: rgb(148, 231, 14);
}
